<div class="card-wide mdl-card mdl-shadow--2dp mdl-card__header blue">
    <div class="mdl-card__header">
        <div class="inline-block white-text">News</div>
        <div class="inline-block white-text mdl-card__clock">{{time}} Uhr</div>
    </div>
</div>
