<div class="card-wide mdl-card mdl-shadow--2dp blue" ng-class='activecard == $index ? "show" : "hide"' ng-mouseover="showcontrol = 1" ng-mouseleave="showcontrol = 0">
    <div class="mdl-card__image">
        <img ng-src='{{feed.image}}'>
    </div>
    <div class="navigate" ng-show="showcontrol == 1">
        <div class="nav-button left" ng-click="prevFeed()">
            <img class="nav-icon brown-transparent" ng-src="/images/icon_left.png" />
        </div>
        <div class="nav-button right" ng-click="nextFeed()">
            <img class="nav-icon brown-transparent" ng-src="/images/icon_right.png" />
        </div>
    </div>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text white-text">{{feed.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text white-text">{{feed.text}}</div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{feed.link}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect white-text">Open</a>
    </div>
</div>