<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="description" content="<%= (typeof description != 'undefined' ? description : '') %>" />
<meta http-equiv="refresh" content="86400">

<meta name="msvalidate.01" content="7F629135626C9FD00D488C0226A76E40" />
<meta name="google-site-verification" content="oES5yh-tNlcdOwKTixILU_WmfM7Q7XJkjerje17Vquc" />

<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/images/manifest.json">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="apple-mobile-web-app-title" content="SiDiSi">
<meta name="application-name" content="SiDiSi">
<meta name="msapplication-config" content="/images/browserconfig.xml">
<meta name="theme-color" content="#8d6e63">

<title>
    <%= title %>
</title>

<link id="icons" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="none" />
<link id="material" rel="stylesheet" type="text/css" href="/stylesheets/material.min.css" media="none" />
<link id="weather" rel="stylesheet" type="text/css" href="/stylesheets/weather-icons.min.css" media="none" />
<link id="style" rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="none" />
