<!DOCTYPE html>
<html ng-app='sidisi'>

<head>
    <% include ../views/components/head %>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header brown">
            <div class="mdl-layout__header-row">
                <a class="mdl-navigation__link" href="/"><i class="material-icons">keyboard_arrow_left</i></a>
                <span class="mdl-layout-title"><%= title %></span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col"></div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h1><%= message %></h1>
                        <h2><%= error.status %></h2>
                        <pre><%= error.stack %></pre>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <% include ../views/components/scripts %>
</body>

</html>
